<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Webpage Title -->
    <title>로그인</title>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bulma CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script>
      //{% if msg %}
      //    alert("{{ msg }}")
      //{% endif %}
      function sign_in() {
        let username = $("#userid").val();
        let password = $("#userpw").val();

        if (is_id(username) == false) {
          return alert(
            "아이디의 형식을 확인해주세요 : 공백 제외 영문과 숫자, 일부 특수문자(._-) 사용 가능. 2-10자 길이"
          );
        }

        if (is_password(password) == false) {
          return alert(
            "비밀번호의 형식을 확인해주세요 : 최소 8 자, 최소 하나의 문자 및 하나의 숫자"
          );
        }

        ///console.log(is_id(username)); // true

        $.ajax({
          type: "POST",
          url: "/login/save",
          data: { id_give: username, pw_give: password },
          success: function (response) {
            if (response["result"] == 0) {
              alert("환영합니다");
              window.location.replace("/main");
            } else {
              alert(response["msg"]);
            }
            //첫 로그인이 되면 메인1(고양이X)
            //그 이후의 로그인이 되면 메인2(고양이O)
          },
        });
      }
      function sign_up() {
        $.ajax({
          type: "GET",
          url: "/register",
          data: {},
          success: function (response) {
            window.location.replace("/register");
          },
        });
      }

      function is_blank(asValue) {}
      // 아이디 규칙
      function is_id(asValue) {
        const regExp = /^(?=.*[a-zA-Z])[-a-zA-Z0-9.]{2,10}$/;
        return regExp.test(asValue);
      }

      // 패스워드 규칙
      function is_password(asValue) {
        const regExp = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;
        //var regExp = /^(?=.\d)(?=.[a-zA-Z])[0-9a-zA-Z!@#$%^&*]{8,20}$/;
        return regExp.test(asValue);
      }
    </script>
  </head>
  <body>
    <h1>로그인 페이지</h1>
    <div class="login-box">
      <p>
        id :
        <input id="userid" type="email" placeholder="아이디 입력" required />
      </p>
      <p>
        pw :
        <input
          id="userpw"
          type="password"
          placeholder="비밀번호 입력"
          required
          minlenght="8"
        />
      </p>
    </div>
    <div class="btn-box">
      <button onclick="sign_in()">로그인</button>
      <button onclick="sign_up()">회원가입</button>
    </div>
  </body>
</html>
